.genre {
    &:hover {
        .child {
            opacity: 1;
            visibility: visible;
        }
        &::after {
            content: '';
            position: absolute;
            left: 100%;
            width: 20px;
            height: 500%;
        }
    }
}

nav.active {
    left: 0;
}

@media (min-width: 768px) {
    nav.active {
        left: unset;
    }
}
